<section class="px-5">

    <div class="row mt-5">
        <h3>All Orders</h3>

    </div>





    <div class="table table-responsive mt-5">

        <table class="data-table table hover multiple-select-row nowrap" id="myTable">
            <div class="col-lg-4 col-md-4 col-sm-6 my-2">
                <input type="text" class="form-control search-type" id="myInput" onkeyup="myFunction()"
                    placeholder="Search">
            </div>
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Username</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                {{#each allOrders}}
                <tr>
                    <td scope="row"></td>
                    <td>{{this.deliveryDetails.name}}</td>
                    <td>{{this._id}}</td>
                    <td class="text-center">{{this.paymentMethod}}</td>
                    <td>Rs {{this.totalPrice}}</td>
                    <td>Order {{this.status}}</td>
                    <td>

                        {{!-- change order status --}}
                        <!-- Example single danger button -->
                        <div class="btn-group">
                            <a type="button" class="btn btn-primary dropdown-toggle" style="color: white;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Status
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/admin/statusPacking/{{this._id}}">Order Packing</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/statusShipped/{{this._id}}">Order Shipped</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/statusDelivered/{{this._id}}">Order
                                        Delivered</a>
                                </li>

                            </ul>
                        </div>

                        {{!-- view the ordered products --}}
                        <a href="/admin/view-order-details/{{this._id}}" class="btn btn-success ">View Details</a>


                        <!-- cancel the order -->

                        <a class="btn btn-danger" style="color: white;" data-toggle="modal"
                            data-target="#exampleModalCancel{{this._id}}">
                            Cancel
                        </a>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCancel{{this._id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to cancel the order?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                        <a href="/admin/cancelOrder/{{this._id}}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>


                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>



</section>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }




</script>