<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item text-primary">
              <h4 class="text-center" style="color: black;"><strong>About</strong></h4>
            </li>

          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{userData.Name}}</h5>

            <div class="d-flex justify-content-center mb-2">

              <a href="/edit-profile" type="button" class="btn btn-outline-primary ms-1">Edit-Profile</a>
              <a href="/add-address" type="button" class="btn btn-outline-primary ms-1 ml-1">Add Address</a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">

        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userData.Name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userData.Email}}</p>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">+91 {{userData.Mobile}}</p>
              </div>
            </div>


          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>

      {{#each address}}
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                {{#if this.default}}
                <span class="badge badge-success">Default</span>
                {{/if}}
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">

                <p class="text-muted mb-0">{{this.Name}}</p>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Email}}</p>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">+91 {{this.Mobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Address}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Pincode</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Pincode}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"></p>
              </div>
              <div class="col-sm-9">
                {{#if this.default}}
                {{else}}
                <a href="/defaultAddress/{{this._id}}" class="btn btn-sm"
                  style="background-color:#007bff ;color:white">Set as
                  Default</a>
                {{/if}}
                <a href="/update-address/{{this._id}}" class="btn btn-sm"
                  style="background-color:#007bff ;color:white">Update</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>